@model ToDoViewModel

<table class="todo-table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome da Tarefa</th>
            <th scope="col">Deletar</th>
            <th scope="col">Atualizar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model.TodoList) {
            <tr>
                <td class="todos-column" scope="row">@t.Id</td>
                <td class="todos-column">@t.Name</td>
                <td class="buttons-column">
                    <input type="submit" class="delete-button" value="Delete" onclick="deleteTodo(@t.Id)">
                </td>
                <td class="buttons-column">
                    <input type="submit" class="update-button" value="Update" onclick="popularForm(@t.Id)">
                </td>

            </tr>

        }
    </tbody>
</table>